@media (min-width: 992px) {
  .leftSide {
    min-width: 597px;

    >div {
      border-bottom: 0px;
    }

    [class*="orderContainer"] {
      border: none;
      padding: 0 38px 16px 0 !important;
    }

    .contactContainer {
      border: none;
      padding: 40px 38px 16px 0 !important;
    }
  }

  .lside {
    align-items: flex-end;
    grid-column: 1 / 2;
    background-color: #fff;
    padding-left: 38px;
  }

  .rside {
    order: 2;
    background-color: #f5f5f5;
    max-width: 443px;
    margin-right: 38px;
    grid-column: 2 / 3;
    border-left: 1px solid #e0e0e0;

    >div {
      [class*="totalBorder"] {
        border-bottom: none !important;
      }
    }

    div.containerWhyChoose {
      padding: 0px 0px 0px 38px !important;
    }

    >[class*="collapse"] {
      padding: 40px 0px 24px 38px !important;

      >div.productOrder {
        border-top: none !important;
        padding-top: 0px !important;
      }
    }
  }
}