.bgColorGrey {
  background-color: #fafafa;
}

.borderPayment {
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background-color: #fafafa;
  padding: 12px;
}

.borderRadiusPayment {
  border-radius: 6px 6px 0px 0px;
  background-color: #f0f5ff;
  border: 1px solid #3362ab;
}

.submitButton {
  border: none;
  margin-top: 12px;
  color: white;
  border-radius: 4px;
  background-color: #090;
  box-shadow: 0px 4px 10px 0px rgba(67, 40, 16, 0.24);
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.98px;

  @media (min-width: 992px) {
    margin-top: 16px;
  }
}

.securedPaymentsText {
  color: #828282;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.encryptedText {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.formikValidation {
  color: rgb(246, 53, 53);
  font-size: 10px;
  padding: 4px;
}
